								{% load static %}
								<section id="banner">
									<div class="content">
										<header>
											<h1>About Pavana<br />
											medical solutions</h1>
											<p>your Medical Agency/Medical Shop/Hospitality service needs</p>
										</header>
										<p>Pavana Medical Solutions established in the year 2015 and they do provide solutions to your Medical related needs. This app will be helpful in managing your Medical Agency/Medical Shop/Hospitality service needs.
										THis app can also helps you in Stock management, Billing and Communication services also...
										Please login to explore more. If you are new to this app then please Contact us for Signup support</p>
										<ul class="actions">
											<li><a href="#" class="button big">See More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{% static 'images/main3.jpg' %}" alt="" />
									</span>
								</section>