					{% load static %}
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="get" action="https://www.google.co.in/">
										<input type="text" name="q" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/home/">Homepage</a></li>
										<li><a href="/show_stock/">Stock Details</a></li>
										<li><a href="/contact/">Contact us</a></li>
										<li><a href="/show_dealers/">Dealers</a></li>
										<li><a href="/show_persons/">Persons</a></li>
										<li><a href="/load_shop_page/">Billing</a></li>
										<li><a href="/billings/">Previous Billings</a></li>
										<li><a href="/profit/">Profit Details</a></li>
										<li><a href="/logout/">Logout</a></li>
									</ul>
								</nav>

							
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">h.sarma212@gmail.com</a></li>
										<li class="fa-phone">(+91) 9533-977-887 </li>
										<li class="fa-home">Duvvuru<br />
										Kadapa, AP 516 175</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Pavana medical solutions. All rights reserved.</p>
								</footer>

						</div>
					</div>