
{% load static %}


<html>
	<head>
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Banner -->
								  <br>
								  <table align="center"><tr><th>Invoice Number  : &nbsp;&nbsp;{{inv_number}}</th></tr>
								  <tr><th>Invoice Date  : &nbsp;&nbsp; {{inv_date}}</th></tr>
								  <tr><th>User  : &nbsp;&nbsp;{{user.0}}</th></tr></table>
								  <h3 align="center"> Billing Details </h3>

								  <br>
								  <table border=1 align='center' cellpadding=10>
										<tr>
											<th>Batch Number</th>
											<th>Item Name</th>
											<th>Company</th>
											<th>Price Per Item</th>
											<th>Number of Items Requested</th>
											<th>Total price</th>
										</tr>

										{% for i in final_list %}
											<tr>
												<td align='center'>{{i.batch_num}}</td>
												<td align='center'>{{i.item_name}}</td>
												<td align='center'>{{i.company}}</td>
												<td align='center'>{{i.ppu}}</td>
												<td align='center'>{{i.quantity}}</td>
												<td align='center'>{{i.tp}}</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan=5 align='center'> Total Sum </td>
											<td align='center'>{{sum.0}}</td>
										</tr> 
								</table>
								<br><br><br><br><br><br><br><br>
								<font color='blue'><h3 align='center'> Dealers Signature &nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Approver Signature</h3></font>
								

						</div>
					</div>
				<!-- Sidebar -->
			</div>
		<!-- Scripts -->
			{% include 'js_scripts.html' %}
	</body>
</html>